/*//////////////////////////////*/
/* List Item Slide-In Animation */
.slide-in-appear {
    opacity: 0;
    transform: translateX(-40vw);
    z-index: 1;
}

.slide-in-appear.slide-in-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.slide-in-enter {
    opacity: 0;
    transform: translateX(-40vw);
    z-index: 1;
}

.slide-in-enter.slide-in-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.slide-in-exit {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
}

.slide-in-exit.slide-in-exit-active {
    transform: translateX(100vw);
    opacity: 0;
    transition: all 300ms ease-out;
}

.slide-in-exit-done {
    transform: translateX(100vw);
    opacity: 0;
}
/*----------------------------*/



/*////////////////////////////////*/
/* Add Item Fade-In-Out Animation */
.popup-appear {
    transform: scale(.10);
    z-index: 1;
}

.popup-appear.popup-appear-active {
    transform: scale(1);
    transition: transform 150ms ease-out;
}

.popup-enter {
    transform: scale(0);
    z-index: 1;
}

.popup-enter.popup.enter.active {
    transform:  scale(1);
    transition: transform 150ms ease-out;
}


/*----------------------------*/



/*///////////////////////*/
/* Page Change Animation */

.page-change-appear {
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100vw);
    z-index: 1;
}

.page-change-appear.page-change-appear-active {
    transform: translateX(0);
    transition: transform 300ms ease-out 700ms;
    width: 100vw;
}

.page-change-enter {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.page-change-enter.page-change-enter-active {
    transform: translateX(0);
    transition: transform 300ms ease-out 700ms;
    width: 100vw;
}

.page-change-exit {
    position: absolute;
    transform: translateX(0);
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.page-change-exit.page-change-exit-active {
    transform: translateX(100vw);
    transition: transform 200ms ease-out;
}

.page-change-exit-done {
    transform: translateX(100vw)
}

/*----------------------------*/




/*/////////////////////*/
/* Fade Card Animation */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 2;
    transform: scale(.95);
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms ease-out 300ms, transform 250ms ease-out 300ms;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms ease-out 300ms, transform 250ms ease-out 300ms;
}

.fade-exit {
    opacity: 1;
    transform: scale(1);
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transform: scale(.95);
    transition: opacity 250ms ease-out;
}

.fade-exit-done {
    opacity: 0;
    transform: scale(.95);
}


/*/////////////////////*/





/*//////////////////////*/
/* Slide Down Animation */
.slide-down-enter {
    opacity: 0;
    z-index: 1;
    transform: translateY(-100px);
}

.slide-down-enter.slide-down-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 800ms ease-out;
}

.slide-down-enter-done {
    opacity: 1;
    transform: translateY(0);
}

.slide-down-exit {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
}

.slide-down-exit.slide-down-exit-active {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 800ms ease-out;
}

.slide-down-done {
    opacity: 0;
    transform: translateY(-100px);
}


/*//////////////////////*/