.sections-page h3 {
    text-align: center;
    width: 100%;
    color: #ddd;
}

.section-page button:nth-child(1) {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 50px;
    background-color: dodgerblue;
    display: flex; 
    font-size: 16px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 2px;
    outline: none;
}


.sections-container {
    padding-top: 5px;
}

.add-section-form {
    height: 200px;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    background-color: #3339;
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-top: 30%;
}

.add-section-form input {
    padding: 3px;
    z-index: 1
}

.add-section-form button {
    z-index: 1;
    color: #ddd;
    border: 1px solid black;
    background-color:#333;
    padding: 5px;
    border-radius: 4px;
}